h1{
    text-align:center;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    border:13px solid #000000;
    font-size: 60px;
    font-family: Century;
}

h2{
    text-align:center;
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0;
    border:13px solid #000000;
    font-size: 21px;
    font-family: Century;
}

h3{
   text-align: center;
   font-size: 36px;
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0;
    border:13px solid #000000;
    font-family: Century;
}

h4{
   text-align: center;
   font-size: 36px;
   font-family: Century;
}

h5{
   text-align: center;
   font-size: 24px;
   font-family: Century;
}

p{
   width: 80%;
   margin-left : 180px;
   text-indent: 50px;
   font-size: 20px;
   font-family: Century;
}


table {
   font-size: 17px;
   border-spacing: 4px;
   margin: 35px;
   padding: 5px;
   margin-left: auto;
   margin-right: auto;
   font-family: Century;
   border-collapse: collapse;
   width: 80%;

}

table, td{
   border: 2px solid black;
   height: 50px;
   font-family: Century;
}

th {
   text-align: left;
   vertical-align: top;
   font-size: 14px;
   height: 50px;
   font-family: Century;
}

details{
   text-align: left;
}

summary{
   font-size: 25px;
}

img{
   display: block;
    margin-left: auto;
    margin-right: auto;

}

footer{
   text-align: center;
   font-family: Century;
   color: white;
   background-color: black;
   border: 7px solid #000000;
}

.container{
   position:relative;
}

.container:hover .overlay{
   opacity: 1;
}

.overlay{
   position:;
  top: 0;
  bottom: 0;
  left: 660px;
  right: 0;
  height: 70%;
  width: 30%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0);

}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
